footer.navbar.bg-info.text-light.fixed-bottom
  div
    p ©
      span(id="copyright")
        script.
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      span=' BlockHouse.com '
      i.fas.fa-frog
      span='  Created in collaboration with '
      a( style='color:white' target="discord" href="https://discord.gg/kAKPyVQ") WhistlingFrogs.com
      span .
