header.navbar.bg-info.text-light
  div
    //img(src='ObyteTutorials.png' height=40 style='padding-left:10px; padding-right:10px')
    h2 ObyFit
  div
    // linkin
    // google (google +)
    // skype
    // reddit
    // slack
    // https://keybase.io/

    // twitter
    a.fa.fa-twitter(href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                    onclick="window.open('https://twitter.com/share?ref_src=twsrc%5Etfw', 'newwindow', 'width=600','height=300'); return false;" )
    // discord
    a(target="discord" href="https://discord.gg/kAKPyVQ")
      img(src='discord.svg' height=40 alt="Comments" )
