extends layout

block content
  h2 Obyte Fitness Coach
  p A simple Obyte Autonomous Agent application to help you to keep fit.

  h5 Earn bytes with every step

  p.
    Keep fit with Obyte walking challenge.  Motivate yourself by setting aside prize bytes.
    Lock it in ObyFit Autonomous Agent. Connect your Google Fit account with ObyFit and earn
    back bytes with every step.      
  br
  br
  br
