extends layout

block content
  h2 Obyte Fitness Coach
  p A simple Obyte Autonomous Agent application to help you to keep fit.

  h5 Earn bytes with every step

  p.strong Keep fit with Obyte Google Fit walking challenge. Connect your Google Fit account with ObyFit and earn back bytes with every step.
  p.
    Sing up for 7 day - '10,000 steps a day' walking challenge and
    motivate yourself by setting aside 1,000,000 bytes prize
    locked in the ObyFit Autonomous Agent.

  p Walk 10,000 steps a day to earn back up to 10,000 bytes a day.
  p Walk 70,000 steps in 7 days to earn back 30,000 bytes bonus.

  h5 Sing up in 3 easy steps:
  ul
    li Enter your Obyte Wallet Address,
    li Authorise Google Fit access,
    li Send Prize to Obyte Autonomus Agent

  p Obyfit is currently running on
    a(href='https://obyte.org/testnet.html')='Obyte testnet'
    span .  Click
    a(href='byteball-tn:AxBxXDnPOzE/AxLHmidAjwLPFtQ6dK3k70zM0yKVeDzC@obyte.org/bb-test#0000')='here'
    span  to get free bytes for your testnet wallet.
  
  br
  a.button.btn.btn-primary.ml-2(href="sign_up")='Sign up'

  //hr
  //p Send 100,000 bytes to the ObyFit Autonomus Agent to enter the 7-day walking challenge.
  //<a href="byteball-tn:IOSRPEX2BXEV6KNFBJTCAA32MT7NDI5L?amount=1200000&amp;asset=base">
  //    open Send 100,000 bytes
  //</a>
  //hr
  //p Pair with ObyFit Bot
  //<a href="byteball-tn:ApnZwzM10Oc/bRyfKwRttWAbU65TptnIvcxYYP0qVP4x@obyte.org/bb-test#Fit">
  //    Pair with ObyFit Bot
  //</a>
  //hr
  //p Post AA TEST
  //<a href="byteball-tn:data?app=definition">
  //  open Send screen with data
  //</a>

  br
  br
  br
