extends ../layout

block content
  h2 Privacy policy
  p.
    ObyFit goal is to help users live more active and healthier lives while exploring
    capabilities of Obyte Autonomous Agents. To that end ObyFit collect,
    store and analyze a small amount of personal activity data by integrating with Google Fit API.
    This statement is intended to clearly explain in human readable language what data we collect
    and how it is used.
    If after reading this statement you have further questions,
    please contact us at the email address listed at the end of this document.

  h5 Information we collect
  p ObyFit collect the following types of information in order to provide services:
  p.strong Activity related data: daily steps taken

  h5 Policy for children
  p.
    ObyFit is not directed at persons under the age of 18.
    We do not knowingly collect any personal data from children under the age of 18.
    If you are under the age of 18, we ask that you do not submit any personal data
    through our services.

  h5 Use of your data for aggregated user data research
  p.
    We may conduct research about our users' behavior based on the
    information provided through the use of our services, for the purposes of improving our
    services. Such research will only compile user data in an aggregated,
    de-identified statistics. This information will NEVER identify you personally.

  h5 App usage data
  p.
    We may use analytics tools to track in-app behavior anonymously for the purpose of informing
    future product improvements and creating a better StepUp experience.
    Examples of in-app behavior include frequency of use, user retention, and in-app page views.

  h5 Changes to this policy
  p.
    We reserve the right to change our Privacy Policy in the future without prior notice.
    The services we offer are likely to change, and in the future it is therefore likely that
    our Privacy Policy will also need to be revised accordingly.
    Any changes to our privacy policy will be posted here.

  h5 More information
  p Contact us at obyfit@whistlingfrogs.com if you have further questions or concerns about your data.
  p Last updated: 20/10/2019
